version: 2.1 # tells CircleCI the configuration format version to use

jobs:
  build:
    docker:
      - image: cimg/android:2024.01
    working_directory: ~/project
    steps:
      - checkout # we check out the code from github repo

      - run:
          name: Grant execute permission for Gradle wrapper
          command: chmod +x ./gradlew

      - run: #delete old build files
          name: Clean project
          command: ./gradlew clean

      - run: #build the debug APK which is the same in Android Studio when we click run
          name: Build Debug APK
          command: ./gradlew assembleDebug

      - run: # run all the test files
          name: Run Unit Tests
          command: ./gradlew test

      - store_artifacts: # store apk file
          path: app/build/outputs/apk/debug/
          destination: apk

workflows: # define how and when the job runs
  build_and_test:
    jobs:
      - build
